*{
  margin: 0;
}

#container{
  background-color: plum;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  height: 500px;
  width: 500px;
  margin: 30px 280px;
  display: flex;
}

.columnDiv{
  color: red;
  border-style: solid;
  border-color: blue;
  margin: -1px;

  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

}

.insideDiv{
  color: greenyellow;
  border-style: solid;
  border-color: snow;
  margin: -1px;

  flex: 1;
  box-sizing: border-box;
}